.body-content .bodyIntro .m-bot-80 .heading-title-alt h3 {
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  color: #333333;
  line-height: 1.5;
  font-size: 24px;
}

.body-content .bodyIntro .m-bot-80 .heading-title-alt .half-txt {
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  color: #7e7e7e;
  line-height: 25px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #323232;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

header {
  position: absolute;
  z-index: 1200;
  top: 0;
  width: 100%;
  background-color: #000000;
}

header .navbar {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

header .navbar .container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

header .navbar .container-fluid .menuzord {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: none;
}

header .navbar .container-fluid .menuzord .logo-brand {
  float: left;
  height: 100px;
  margin-right: 30px;
  color: #666;
  font-size: 20px;
  font-weight: 400;
  line-height: 100px;
}

header .navbar .container-fluid .menuzord .logo-brand img {
  position: relative;
  top: -2px;
  display: inline-block;
  max-height: 100%;
  padding: 2px 0;
  border: none;
  height: 96px;
  width: auto;
}

header .navbar .container-fluid .menuzord .menuzord-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 400px;
}

header .navbar .container-fluid .menuzord .menuzord-menu li {
  display: inline-block;
  margin-left: 2px;
}

header .navbar .container-fluid .menuzord .menuzord-menu li a {
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
  padding: 0 12px;
  outline: 0;
  line-height: 100px;
}

header .navbar .container-fluid .menuzord .menuzord-menu li.active a {
  color: #d6b161;
}

header .navbar .container-fluid .menuzord .menuzord-menu li:hover a {
  color: #d6b161;
}

.massiveCarousel {
  height: 722px;
  background-image: url("../img/index-banner-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}

.massiveCarousel .container-mid {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.massiveCarousel .container-mid .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.massiveCarousel .container-mid .container .banner-title {
  color: #ffffff;
}

.massiveCarousel .container-mid .container .banner-title h1 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: normal;
  margin-bottom: 0;
}

.massiveCarousel .container-mid .container .banner-title h3 {
  letter-spacing: 6px;
  font-size: 20px;
  margin-bottom: 0;
}

.body-content {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.body-content .bodyIntro {
  display: inline-block;
  width: 100%;
  padding: 100px 0;
}

.body-content .bodyIntro .m-bot-80 {
  margin-bottom: 80px;
}

.body-content .bodyIntro .m-bot-80 .heading-title-alt {
  margin-bottom: 50px;
}

.body-content .bodyIntro .m-bot-80 .heading-title-alt h3:after {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -31px;
  content: "";
  background: #595959;
}

.body-content .bodyIntro .inline-block {
  display: inline-block;
  width: 100%;
}

.body-content .bodyIntro .intro__feature {
  padding-right: 30px;
  padding-left: 30px;
}

.body-content .bodyIntro .intro__feature .feature-border-box {
  position: relative;
  padding: 30px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.body-content .bodyIntro .intro__feature .feature-border-box .icon {
  position: absolute;
  top: -30px;
  left: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  background: #222222;
  -webkit-box-shadow: 0 0 0 10px #fff;
          box-shadow: 0 0 0 10px #fff;
  line-height: 60px;
  padding: 0 0 30px 0;
}

.body-content .bodyIntro .intro__feature .feature-border-box .icon i {
  color: #ffffff;
  font-size: 30px;
  line-height: 60px;
}

.body-content .bodyIntro .intro__feature .feature-border-box .title {
  display: inline-block;
  margin-top: 30px;
}

.body-content .bodyIntro .intro__feature .feature-border-box .title h4 {
  color: #333333;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 30px 0;
  margin-bottom: 20px;
}

.body-content .bodyIntro .intro__feature .feature-border-box .desc {
  color: #7e7e7e;
}

.body-content .post-parallax {
  overflow: hidden;
  width: 100% !important;
  height: 100%;
  background-image: url("../img/4--dJW27v.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}

.body-content .post-parallax .massiveIntro__skills {
  display: inline-block;
  width: 100%;
  padding: 100px 0;
  position: relative;
}

.body-content .post-parallax .massiveIntro__skills .dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.5);
}

.body-content .post-parallax .massiveIntro__skills .container {
  position: relative;
}

.body-content .post-parallax .massiveIntro__skills .container .row {
  margin-right: -15px;
  margin-left: -15px;
}

.body-content .post-parallax .massiveIntro__skills .container .row .light-txt {
  color: #ffffff !important;
}

.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemLeft,
.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemRight {
  padding-right: 30px;
  padding-left: 30px;
}

.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemLeft .v-middle {
  display: table;
  width: 100%;
  height: 400px;
  vertical-align: middle;
}

.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemLeft .v-middle h3 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 6px;
  font-size: 24px;
  margin: 0 0 30px 0;
  font-weight: normal;
  line-height: 1.5;
}

.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemRight {
  padding: 0 30px;
}

.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemRight h4 {
  margin: 0 0 30px 0;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 2px;
}

.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemRight p {
  margin: 0 0 30px;
  line-height: 30px;
}

.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemRight .p-top-30 {
  padding-top: 30px;
}

.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemRight .p-top-30 .massive-progress {
  overflow: visible;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  background: #606060;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 400;
}

.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemRight .p-top-30 .massive-progress .progress-bar {
  width: 80%;
  position: relative;
  overflow: visible;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0;
  padding-left: 10px;
  text-align: left;
  color: #222222;
  background: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 10px;
  line-height: 20px;
}

.body-content .post-parallax .massiveIntro__skills .container .row .massiveIntro__skillItemRight .p-top-30 .massive-progress .progress-bar span {
  position: absolute;
  top: -28px;
  right: -5px;
  display: inline-block;
  min-width: 25px;
  height: 20px;
  padding: 0 8px;
  text-align: center;
  letter-spacing: 0;
  border-radius: 30px;
  line-height: 20px;
  color: #222222;
  background-color: #a4a4a4;
}
/*# sourceMappingURL=main.css.map */