.button--yellow {
    @include styleButton($color-white-0, $color-yellow-0, transparent, $fs-4, $fw-0, $pd-3, $pd-5);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    &:hover {
        @include hoverButton($color-black-2, $color-white-0, $color-white-0);
    }
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-medium {
    padding: $pd-3 $pd-5;
    font-size: $fs-4;
    font-weight: $fw-0;
    @include responsive("medium") {
        font-size: $fs-2;
    }
}
