.button--yellow {
    @include styleButton($color-white-0, $color-yellow-0, transparent, $fs-4, $fw-0, $pd-3, $pd-5);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    &:hover {
        @include hoverButton($color-black-2, $color-white-0, $color-white-0);
    }
}
