* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $color-black-4;
    font-family: "Source Sans Pro", sans-serif;
    font-size: $fs-5;
    font-weight: $fw-2;
    line-height: $line-height-1;
}
