.massiveHangWithUs {
    padding: 150px 0;
    background-image: url("../img/8--gIdSI5.jpg") !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    .section-row {
        .heading-title span.heading-sub-title,
        .heading-title-alt span.heading-sub-title {
            letter-spacing: 3px;
            font-size: $fs-5 + 1;
            color: $color-yellow-0;
        }
        a {
            text-decoration: none;
        }
    }
    // resposive
    @include responsive("medium") {
        .section-row {
            .heading-title-alt {
                h1 {
                    font-size: $fs-8;
                }
            }
        }
    }
}
