header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: $color-black-0;
    z-index: 1200;
    transition: 0.3s ease-in-out;
    position: fixed;
    .navbar {
        transition: background-color 0.3s;
        .container-fluid {
            padding-right: $pd-5;
            padding-left: $pd-5;
            .menuzord {
                display: block;
                position: relative;
                float: left;
                width: 100%;
                padding: 0;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                background: none;
                #header-navbar-brand.logo-brand {
                    float: left;
                    height: 100px;
                    margin-right: $mg-5;
                    @include styleText($color-gray-10, $fs-7, $fw-2);
                    line-height: $line-height-7;
                    transition: 0.3s ease-in-out;
                    #headerTop__logo {
                        position: relative;
                        top: -2px;
                        display: inline-block;
                        max-height: 100%;
                        padding: $pd-0 0;
                        border: none;
                        height: 96px;
                        width: auto;
                        transition: 0.3s ease-in-out;
                    }
                }
                .menuzord-menu {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    max-height: 400px;
                    li {
                        display: inline-block;
                        margin-left: $mg-0 - 3;
                        a {
                            @include styleText($color-white-0, $fs-3, $fw-0);
                            display: inline-block;
                            padding: 0 $pd-3 - 3;
                            outline: 0;
                            line-height: $line-height-7;
                        }
                        &.active a {
                            color: $color-yellow-0;
                        }
                        &:hover a {
                            color: $color-yellow-0;
                        }
                    }
                }
            }
        }
    }
    // responsive
    @include responsive("medium") {
        .navbar {
            .container-fluid {
                .menuzord {
                    justify-content: space-between;
                    #header-navbar-brand.logo-brand {
                        font-size: $fs-7;
                        line-height: 2.55;
                        height: 50px;
                        #headerTop__logo {
                            height: 48px;
                        }
                    }
                    .navbar-toggler {
                        // span {
                        //     color: $color-white-0;
                        // }
                        em {
                            display: block;
                            width: 20px;
                            height: 3px;
                            margin: 3.5px 0 0;
                            background: $color-white-0;
                        }
                    }
                    .menuzord-menu {
                        li {
                            background-color: $color-white-0;
                            a {
                                display: block;
                                width: 100%;
                                color: $color-black-0;
                                border-top: solid 1px $color-white-1;
                                border-bottom: solid 1px $color-white-1;
                                line-height: $line-height-2;
                                padding: $pd-2 + 2 $pd-4 !important;
                            }
                        }
                        li.nav-item-to-hide {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
