.massiveIntro {
    display: inline-block;
    width: 100%;
    padding: $pd-7 0;
    .m-bot-80 {
        margin-bottom: 80px;
        .heading-title-alt {
            margin-bottom: 50px;
            h3 {
                @extend %h3SectionTitle;
                &:after {
                    position: absolute;
                    bottom: -2px;
                    left: 50%;
                    width: 60px;
                    height: 2px;
                    margin-left: -$mg-6;
                    content: "";
                    background: $color-gray-6;
                }
            }
            .half-txt {
                @extend %pSectionTitle;
            }
        }
    }
    .inline-block {
        display: inline-block;
        width: 100%;
    }
    .intro__feature {
        padding-right: $pd-5;
        padding-left: $pd-5;
        .feature-border-box {
            position: relative;
            padding: $pd-5;
            border: 1px solid $color-white-3;
            border-radius: 4px;
            transition: all 0.3s ease;
            .icon {
                position: absolute;
                top: -30px;
                left: 30px;
                width: 60px;
                height: 60px;
                text-align: center;
                border-radius: 4px;
                background: $color-black-2;
                box-shadow: 0 0 0 10px #fff;
                line-height: 60px;
                padding: 0 0 $pd-5 0;
                i {
                    color: $color-white-0;
                    font-size: $fs-9;
                    line-height: $line-height-6;
                }
                &:hover {
                    background: $color-yellow-0;
                }
            }
            .title {
                display: inline-block;
                margin-top: $mg-5;
                h4 {
                    color: $color-black-3;
                    letter-spacing: 1px;
                    line-height: 1.5;
                    font-size: $fs-6;
                    font-weight: $fw-0;
                    margin: 0 0 $mg-5 0;
                    margin-bottom: $mg-4;
                }
            }
            .desc {
                color: $color-gray-4;
            }
        }
    }
    // responsive
    @include responsive("medium") {
        .container-md {
            .m-bot-80 {
                .heading-title-alt {
                    h3 {
                        font-size: $fs-6;
                    }
                    .half-txt {
                        width: 80%;
                    }
                }
            }
            .intro__feature {
                .feature-border-box {
                    display: inline-block;
                    margin-bottom: 50px;
                }
            }
        }
    }
}
