.massiveTestimonial {
    .section-row {
        .massiveTestimonial__content {
            padding-right: $pd-5;
            padding-left: $pd-5;
            margin: 0 auto;
            width: 100%;
            #testimonial-2 {
                .item {
                    margin: $mg-4;
                    text-align: center;
                    .tst-thumb {
                        display: inline-block;
                        width: 100px;
                        height: auto;
                        margin-bottom: $mg-4;
                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                            border-radius: 50%;
                        }
                    }
                    .content {
                        p {
                            font-size: $fs-5 + 1;
                            font-style: italic;
                            line-height: $line-height-4;
                            margin: 0 0 $mg-5;
                            color: $color-gray-4;
                        }
                        .testimonial-meta {
                            margin-top: 10px;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            color: #222;
                            font-size: 14px;
                            span {
                                display: block;
                                color: $color-gray-13;
                                font-size: $fs-2;
                            }
                        }
                    }
                }
            }
        }
    }
}
